rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to upload and read beer photos
    match /events/{eventId}/beers/{beerId}/{fileName} {
      allow read, write: if true;
    }
  }
}
